/*===========================RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  /*limpa os "pontinhos" da lista*/
  list-style: none;
}

/*===============================VARIABLS*/
:root {
  /* o comando ROOT é precedido de ":"*/
  /* o comando -- serve para "setar" uma variável que pode ser chamada
  por outors elementos (ver: "COLOR: VAR(--COLOR)"*/
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*=====BASE=====*/
body {
  /* número centesimal (Ex.: 400) é o "peso" da fonte*/
  font: 400 1rem 'dm sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  /*VERIFICAR O QUE É WEBKIT??*/
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem 'poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/*=====LAYOUT=====*/

#header1 {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

main {
  /*calculo de espaço (16px = 1rem)*/
  margin-top: calc(var(--header-height) + 2rem);
}

/*=====LOGO=====*/
.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  /*TAG <span> foi colocada no HTML para viabilizar a alteração de cor de metade do logo*/
  color: var(--base-color);
}

/*=====NAVIGATION=====*/
nav {
  /*REM=forma de proporção responsiva*/
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.5s;
  position: relative;
}

nav ul li a:hover {
  /*alteração de cor do link quando passar o mouse*/
  color: var(--base-color);
}

/*barra animada no menu*/
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.5s;
}

nav ul li a:hover:after {
  width: 100%;
}
/*/barria animada menu*/

nav .menu {
  opacity: 0;
  visibility: hidden;
}
/*=====MENU VISÍVEL=====*/
nav.show .menu {
  /*existe uma diferença entre "tag_espaço_.class" e "tag.class" - aprofundar*/
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  /*seta um "fundo" para o menu"*/
  height: 100vh;
  width: 100vw;
  /*position fixed faz com que a página "role" mas o menu permanece*/
  position: fixed;
  /*TOP e LEFT = 0 serve para "grudar" no topo/esquerda*/
  top: 0;
  left: 0;
}

nav.show .menu {
  /*distribuição dos itens da lista no espaço*/
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}
/*=====/MENU VISÍVEL=====*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

/*=====home=====*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  /*faz com que o "quadrado sombra" da imagem acompanhe o alinhamento da imagem principal; caso contrário ele fica no topo da página*/
  position: relative;
}

#home .image::before {
  /*sombra da imagem*/
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  z-index: 0;
  /*verificar esse TOP*/
  /*regra de 3 baseado no tamanho da imagem (precisa de um layout)*/
  top: -16.8%;
  left: 16.7%;
}

#home .image img {
  position: relative;
  right: 2.93em;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .divtextbut {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .divtextbut h1 {
  margin-bottom: 1rem;
}

#home .divtextbut p {
  margin-bottom: 2rem;
  max-width: 100%;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'dm sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}
